<!doctype html>
<html>
  <head>
    <title>About <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteData.siteName%></h1>
    <p>Welcome to GoldGameReviews, where games review games!</p>
    <p>Go to the home page to view the sitemap</p>
    <p>There you will find the login page this will let you register for an account,
    after you have registered you can post your own game reviews!</p>
    <p>You can also view your own reviews and edit them as you please!</p> 
    </p>
    <p><a href="users/logout">Logout</a></p>
  </body>
</html>