<!doctype html>
<html>
  <head>
    <title>GoldGameReviews</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p><a href="about">About</a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="users/list">List users</a></p>
    <p><a href="users/login">Login</a></p>
    <p><a href="users/logout">Logout</a></p>
    <p><a href="reviews/search">Search for reviews</a></p>
    <p><a href="reviews/addreview">Add a new review</a></p>
    <p><a href="reviews/list">List reviews</a></p>
    <p><a href="reviews/topreviews">Highest rated games</a></p>
  </body>
</html>
