<!doctype html>
<html>
  <head>
    <title>Search <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=siteData.siteName%></h1>
    <form action="/reviews/search_result" method="POST">
      <p>Search for a review by game</p>
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
    <p><a href="/logout">Logout</a></p>
  </body>
</html>